.head{
	display:flex;
	justify-content:center;
	}
.links{
	display: flex;
    justify-content:center;
	justify-content:space-around;
	}
	
* {
  box-sizing: border-box;
}

.sub-header-wrapper {
  width:900px;
  margin:0 auto;
  padding-left:70px;
}

.sub-header {
  border: 2px solid #000;
  border-radius: 4px;
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  padding: 10px;
  width:760px;
  text-align:center;
}

.logout-link {
  vertical-align: bottom;
}
.buttons {
  width: 400px;
  margin: 0 auto;
}

.buttons button {
  border:1px solid #000;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 10px;
  width: 190px;
}
.navigation-links a{
	margin-right:20px;
	display:inline-block;
}
.termslist-content-wrapper{
	width:760px;
	margin:0 auto;
	margin-top:10px;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
.discipline li{
	padding:15px 0;
	border-bottom:1px solid black;
	padding-left:10px;
	
}

.discipline li:last-child{
	border-bottom:0;
}
.discipline{
	border:1px solid black;
	width:50%;
	display:inline-block;
}
.admin-panel{
	display:inline-block;
	vertical-align: top;
	padding-left:70px;
}

.admin-panel .button {
	background-color: lightgrey;
	border: 1px solid black;
	border-radius: 4px;
	display: block;
	margin-bottom: 20px;
	width:200px;
	padding:6px 12px;
	color:black;
	text-decoration:none;
}

.disciplie-table-wrapper {
	display: inline-block;
	width: 50%;
}

.disciplie-table-wrapper table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

table th, table td {
  border: 1px solid black;
  margin: 0;
  padding: 10px;
}
 

 .disciplie-table-wrapper table th:first-of-type{
  width:41px;
  background-color:lightgrey;
} 
.marks-table-wrapper table th:last-of-type{
	width:20%;
}
.marks-table-wrapper table td:last-of-type{
	text-align:center;
}
.disciplie-table-wrapper th{
	background-color:lightgrey;
}
.studinfo-table-wrapper{
	display: inline-block;
	width:100%;
}
.studinfo-table-wrapper table{
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
.studinfo-table-wrapper th{
	background-color:lightgrey;
}
.studinfo-table-wrapper th{
	  border: 1px solid black;
  margin: 0;
  padding: 10px;
  width:25%;
	
}
.marks-table-wrapper{
	display: inline-block;
	width: 50%;
}
.marks-table-wrapper table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
.marks-table-wrapper th{
	background-color:lightgrey;
}
.marks-table-wrapper  th {
  border: 1px solid black;
  margin: 0;
  padding: 15px;
}
.select-panel{
	display:inline-block;
	vertical-align: top;
	padding-left:70px;
}
.admin-panel2 {
	display:inline-block;
	vertical-align: top;
	
	width:600px;
	
}
.admin-panel2 .button {
	background-color: lightgrey;
	border: 1px solid black;
	border-radius: 4px;
	display:inline-block;
	margin-bottom: 20px;
	width:44%;
	padding:7px 18px;
	color:black;
	text-decoration:none;
	height:50px;
	vertical-align: top;
	margin-right:20px;
	text-align:center;
}
.students-table-wrapper{
	display: inline-block;
	width:100%;
}
.students-table-wrapper table{
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
.students-table-wrapper th{
	background-color:lightgrey;
	border: 1px solid black;
	margin: 0;
	padding: 10px;
}
.control{
	width:5%;
}
.surname{
	width:35%;
}
.name{
	width:30%;
}
.group{
	width:15%;
}
.date{
	width:15%;
}
.log-form-wrapper{
	width:760px;
	margin:0 auto;
	margin-top:10px;
	
}
.log-form{
	width:275px;
	margin:0 auto;
}
.log-form label{
	width:75px;
	display:inline-block;
	font-weight:bold;
}
.log-form input{
	width:200px;
	display:inline-block;
}
.login-input,.password-input,.status-input,.submit-input{
	margin-bottom:20px;
}
.enter{
	text-align:center;
	margin-bottom:20px;
}
.submit-input input{
	margin-left:75px;
}
.log-form select{
	width:200px;
	display:inline-block;	

}
.create-stud-form{
	width:350px;
	margin:0 auto;
}
.create-stud-form  label{
	width:150px;
	display:inline-block;
	font-weight:bold;
}
.create-stud-form  input{
	width:150px;
	display:inline-block;
}
.surname-input,.name-input,.group-input,.date-in-input{
	margin-bottom:20px;
}